<div class="row" *ngIf="loadingService.loading$ | async">
  <div class="col-md-6 col-sm-12" *ngFor="let x of [0,1,2,3,4,5,6,7]">
    <ngx-skeleton-loader [theme]="{ 
            'border-radius': '7px',
            height: '100px',
            width: '100%' 
          }" class="profile-image"></ngx-skeleton-loader>
  </div>
</div>
