 <div class="profile-container" *ngIf="(data$ | async) as data">
   <div class="profile-card card">
     <app-profile-loader *ngIf="!data.details"> </app-profile-loader>
     <div class="profile-head row" *ngIf="data.details">

       <div class="col-md-3 col-sm-12">
         <div class="image-holder">
           <img class="profile-image" src="{{data.details?.avatar_url}}">
         </div>
       </div>

       <div class="col-md-9 col-sm-12">
         <div class="profile-details">
           <h4 class="name"> {{data.details?.name}} </h4>
           <span class="bio"> {{data.details?.bio}} </span> <br>
           <span class="location">
             <fa-icon [icon]="faMapMarked"></fa-icon> &nbsp;{{data.details?.location}}
           </span>

           <div class="social">
             <span>
               <fa-icon [icon]="faTwitter" style="zoom:0.9"></fa-icon> &nbsp;
               https://twitter.com/{{data.details?.twitter_username}}
             </span>
           </div>

         </div>
       </div>

       <div class="col-12">
         <div class="github-link" (click)="goToLink(data.details?.html_url)">
           <fa-icon [icon]="faExternalLinkAlt"></fa-icon> &nbsp; {{data.details?.html_url}}
         </div>
       </div>
     </div>


     <div class="repos-conatiner">
       <app-repos [repoList]="data.repos"> </app-repos>
     </div>

   </div>
 </div>
