<app-skeleton-text> </app-skeleton-text>
<div class="row">
  <div class="col-md-6 col-sm-12" *ngFor="let repo of repoList | slice: (page-1) * pageSize : page * pageSize">
    <app-repo-card [repoName]="repo.full_name" [repoDescription]="repo.description" [repoTopics]="repo.topics">
    </app-repo-card>
  </div>
  <div class="col-sm-12 my-pagination " *ngIf="repoList.length > 10">
    <ngb-pagination [collectionSize]="repoList.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="10"
      [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
