.repo-card {
  width: 100%;
  height: 150px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  padding: 10px;
  color: rgba(0, 0, 0, .87);
  border-radius: 7px;
}

.topic {
  background-color: #3f51b5;
  padding: 5px;
  border-radius: 7px;
  margin-right: 10px;
  font-size: 12px;
  zoom: 0.8;

}

.repo-topics {

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 5;
  margin-left: 0px;
}

.repo-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 5;
  height: 20px;
  font-weight: 300;
  font-size: 12px;
}
