<div class="repo-card card">
  <h6 class="repo-name">{{repoName}} </h6>
  <p class="repo-description">{{repoDescription}}</p>
  <div class="repo-topics row">
    <label class="btn-primary topic" *ngFor="let x of repoTopics.names" ngbButtonLabel>
      {{x}}
    </label> 
  </div>
</div>
